/////////
// Type

$rubik: "Rubik", sans-serif;
$roboto: "Roboto Condensed", sans-serif;

/////////
// Colors

// Primary colors.

$main-yellow: #fcb614;
$yellow-dark: #b6830d;
$cyan: #008ece;
$gray: #b0b0b0;
$gray-dark: #505050;
$gray-light: #f2f2f2;

$lightblue: #98cfcf;
$red: #e13e32;
$dark: #353e42;

// Complementary colors.

$yellow: #ffcb50;
$blue: #4ba3bf;

// Neutral colors.
$azure: #f0f7f7;
$background-gray: #f2f2f2;
$light-gray: #dddddd;
$dark-gray: #afafaf;
$darker-gray: #5d5d5d;
$white: #fff;
$black: #000;

// Modified colors.
$lineblue: $azure;
$darkred: #cc2925;
$darkerred: #b21b1b;
$darkblue: #318da3;
$darkyellow: #e5a72c;
$button-grey: #d1d1d1;

// Icon colors.
$icon-purple: #8d519f;
$icon-green: #91c73e;
$icon-blue: #008ece;
$icon-yellow: $yellow;

// Messages colors.
$message-green: #6bc690;
$message-yellow: $yellow;
$message-red: #df3c32;

/// Widths and base sizing.
$max-width: 1200px;

// Breakpoints.
$small: 480px;
$smallish: 542px;
$medium: 768px;
$large: 1024px;
$desktop: 1240px;
