/////////
// Type

$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;

/////////
// Colors

// Primary colors.
$lightblue: #98cfcf;
$red: #e13e32;
$dark: #353e42;

// Complementary colors.

$yellow: #ffcb50;
$blue: #4ba3bf;

// Neutral colors.
$azure: #f0f7f7;
$light-gray: #dddddd;
$dark-gray: #afafaf;
$darker-gray: #5d5d5d;
$white: #fff;
$black: #000;

// Modified colors.
$lineblue: $azure;
$darkred: #cc2925;
$darkerred: #b21b1b;
$darkblue: #318da3;
$darkyellow: #e5a72c;
$button-grey: #d1d1d1;

// Icon colors.
$icon-purple: #8D519F;
$icon-green: #91C73E;
$icon-blue: #008ECE;
$icon-yellow: $yellow;

// Messages colors.
$message-green: #6BC690;
$message-yellow: $yellow;
$message-red: #DF3C32;

/// Widths and base sizing.
$max-width: 1200px;

// Breakpoints.
$small: 480px;
$medium: 768px;
$large: 1024px;
$desktop: 1240px;
