//////////////////////////////
// Alliances
// @_alliances.scss
//////////////////////////////

.view-alianzas {
  margin: 0 auto;
  max-width: 80%;
  .view-header {
    text-align: center;
    max-width: 452px;
    font-family: $rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: $gray-dark;
    margin: 0 auto 65px;
    * {
      margin: 0;
    }
  }
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .views-row {
    margin: 0 20px 20px 0;
    @include breakpoint($medium) {
      margin: 0 40px 40px 0;
    }
  }
}

.pane-alianzas-panel-pane-2,
.pane-alianzas-panel-pane-3 {
  margin-top: 100px;
}

.pane-alianzas-panel-pane-3 {
  .pane-title {
    text-align: center;
    font-family: $rubik;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    margin: 0 0 80px 0;
    @include font-size(2.4);
    @include separator($main-yellow);
  }
}
