//////////////////////////////
// Alliances
// @_alliances.scss
//////////////////////////////

.view-alianzas {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .views-row {
    margin: 0 20px 20px 0;
    @include breakpoint($medium) {
      margin: 0 40px 40px 0;
    }
  }
}

.pane-alianzas-panel-pane-3 {
  padding: 20px 0;
  .pane-title {
    text-align: center;
    font-family: $rubik;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    margin-bottom: 80px;
    @include font-size(2.4);
    @include separator($main-yellow, 20px, 20px);
  }
}
