/////////////////////////////////
// Blog CTA styles.
// @_blog-cta.scss
/////////////////////////////////

.problematicas-cta-link, .blog-cta {
  position: relative;
  margin-top: 30px;
  .button-yellow {
    padding: 18px 30px;
    text-transform: none;
    text-align: left;
    position: relative;
    &:after {
      content: "";
      @include triangle($black);
      top: 48%;
      right: 10px;
      &:hover {
        top: 48%;
      }
    }
    @include breakpoint($large) {
      text-indent: -10px;
      text-align: center;
    }
    &:hover {
      padding: 18px 30px 16px 30px;
    }
  }
}
