/////////////////////////////////
// Styles for blog teaser.
// @_blog-teaser.scss
/////////////////////////////////

.blog-list-page {
  .blog-item {
    display: grid;
    * {
      margin: 0;
    }
    grid-gap: 20px;
    @include breakpoint($small) {
      grid-template-columns: 2fr 3fr;
    }
  }
  .blog-item--title {
    a {
      color: black;
      font-family: $rubik;
      font-style: normal;
      font-weight: bold;
      @include font-size(1.8);
      line-height: normal;
      text-align: center;
      text-decoration: none;
    }
  }
  .blog-item--date {
    font-family: $rubik;
    font-style: normal;
    font-weight: bold;
    @include font-size(1.2);
    line-height: normal;
    color: $yellow-dark;
  }
  .blog-item--body {
    margin: 20px 0;
  }
  .blog-item--link {
    a {
      @extend %btn-parallelogram-yellow;
    }
  }
}
