////////////////////////////////
// Style for blog post date.
// @_post-date.scss
////////////////////////////////

.blog-item--date {
  color: $yellow-dark;
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  @include font-size(1.2);
  line-height: 14px;
  &.blog-full:after {
    content: "/";
    margin: 0 5px;
  }
}
