//////////////////////////////
// Breadcrumbs
// @_breadcrumbs.scss
//////////////////////////////

.breadcrumbs-blog-full {
  display: block;
  margin-bottom: 30px;
  .breadcrumb {
    color: $cyan;
    font-family: $rubik;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    @include font-size(1.2);
  }
  div {
    display: inline;
  }
  a {
    color: $cyan;
  }
}
