//////////////////////////////
// Buttons
// @_buttons.scss
//////////////////////////////

button,
.button,
input[type="submit"],
input[type="submit"] + #edit-cancel {
  @extend %btn-parallelogram-yellow;
}

input[type="submit"] + #edit-cancel {
  margin-left: 10px;
  text-decoration: none;
}

.button-red,
.button-dark {
  border: none;
  display: inline-block;
  padding: 20px 60px 18px 60px;
  margin-bottom: 2px;
  &:hover {
    padding: 20px 60px 18px 60px;
    text-decoration: none;
  }
}

.button-red {
  color: $white;
  background-color: $red;
  box-shadow: 0 2px 0 $darkred;
  &:hover {
    background-color: $darkred;
    box-shadow: 0 2px 0 $darkerred;
  }
}

// .button-yellow {
// }

.button-dark {
  background-color: $button-grey;
  box-shadow: 0 2px 0 $darker-gray;
  color: $dark;
  &:hover {
    color: $white;
    background-color: $dark;
    box-shadow: 0 2px 0 $darker-gray;
  }
}

// Parallelogram Buttons
.parallelogram {
  transform: skew(-10deg);
}

.skew-fix {
  display: inline-block;
  transform: skew(10deg);
}
