//////////////////////////////
// Buttons
// @_buttons.scss
//////////////////////////////

button,
.button,
input[type="submit"],
input[type="submit"] + #edit-cancel {
  height: 58px;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 26px;
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: normal;
  background: $main-yellow;
  color: black;
  &:before,
  &:after {
    content: "";
    position: absolute;
  }
  &:before {
    left: -10px;
    border-bottom: 58px solid $main-yellow;
    border-left: 10px solid transparent;
  }
  &:after {
    transform: rotate(180deg);
    right: -10px;
    border-bottom: 58px solid $main-yellow;
    border-left: 10px solid transparent;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline-style: none;
  }
}

input[type="submit"] + #edit-cancel {
  margin-left: 10px;
  text-decoration: none;
}

.button-red,
.button-dark {
  border: none;
  display: inline-block;
  padding: 20px 60px 18px 60px;
  margin-bottom: 2px;
  &:hover {
    padding: 20px 60px 18px 60px;
    text-decoration: none;
  }
}

.button-red {
  color: $white;
  background-color: $red;
  box-shadow: 0 2px 0 $darkred;
  &:hover {
    background-color: $darkred;
    box-shadow: 0 2px 0 $darkerred;
  }
}

.button-yellow {
  border: 2px solid $yellow;
  color: $dark;
  display: inline-block;
  padding: 18px 60px 18px 60px;
  &:hover {
    color: $dark;
    background-color: $yellow;
    padding: 18px 60px 16px 60px;
    box-shadow: 0 2px 0 $darkyellow;
    text-decoration: none;
  }
}

.button-dark {
  background-color: $button-grey;
  box-shadow: 0 2px 0 $darker-gray;
  color: $dark;
  &:hover {
    color: $white;
    background-color: $dark;
    box-shadow: 0 2px 0 $darker-gray;
  }
}
