//////////////////////////////////////////////
// Footer background and general appearance.
// @_footer.scss
//////////////////////////////////////////////

.site-footer {
  background: #f0f7f7;
  .container {
    .panel-pane {
      @media only screen and (min-width: $medium) {
        width: 33%;
        float: left;
        padding: 2em;
      }
    }
    .view-blog {
      .views-row {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #ddd;
        .blog-item--title {
          a {
            text-decoration: none;
            color: $dark;
            &:hover {
              color: $blue;
            }
          }
        }
        .blog-item--date {
          display: none;
        }
      }
    }
    .view-problems {
      .views-row {
        height: 100px;
        background-size: 100% !important;

        @media only screen and (min-width: $medium) {
          height: 70px;
        }
        @media only screen and (min-width: $large) {
          background-size: auto !important;
        }
        span {
          font-size: 12px;
          display: block;
          padding-right: 2em;
          text-align: center;
          @media only screen and (min-width: $large) {
            width: 50%;
            margin: 0 auto;
            padding-right: 0;
          }
        }
      }
      .views-row-1 {
        background: url(../img/icons/icon-educacion.svg) no-repeat 100% 100%;
        span {
          color: $icon-purple;
        }
      }
      .views-row-2 {
        background: url(../img/icons/icon-transito.svg) no-repeat 100% 50%;
        span {
          color: $icon-yellow;
        }
      }
      .views-row-3 {
        background: url(../img/icons/icon-residuos.svg) no-repeat 100% 100%;
        span {
          color: $icon-green;
        }
      }
      .views-row-4 {
        background: url(../img/icons/icon-obesidad.svg) no-repeat 100% 50%;
        span {
          color: $icon-blue;
        }
      }
    }
  }
}
