///////////////////////////////////
// Styles for the site header.
// @_header.scss
///////////////////////////////////

.site-header {
  background: black;
}

.container-header {
  display: flex;
  //align-items: center;
  //flex-direction: column;
  //justify-content: space-between;
  padding: 0;
  position: relative;
  @include breakpoint($medium) {
    flex-direction: row;
  }
}

.header-top-bar {
  background-color: $white;
  height: 40px;
  display: none;
}

.site-name {
  margin: 0;
  background: url(../img/logo/logo.svg) no-repeat;
  background-size: 100%;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  @include breakpoint($medium) {
    height: 174px;
    //margin: 40px 10px;
    width: 215px;
  }
  @include breakpoint($large) {
    height: 223px;
    width: 276px;
  }
  @include breakpoint($max-width) {
    width: 168px;
    height: 136px;
  }
}
