///////////////////////////////////
// Styles for the site header.
// @_header.scss
///////////////////////////////////

.site-header {
  background: black;
}

.container-header {
  position: relative;
  height: 196px;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  background: url("../img/backgrounds/header-bg.jpg") no-repeat bottom right;
}

.site-name {
  position: absolute;
  top: 38px;
  left: 0;
  width: 144px;
  height: 113px;
  margin: 0;
  background: url("../img/logo/logo.svg") no-repeat;
  background-size: 100%;
  display: block;
  text-indent: -999px;
  white-space: nowrap;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  &:after {
    content: "";
    display: block;
    width: 116px;
    height: 168px;
    position: absolute;
    right: -140px;
    top: -20px;
    background: url("../img/logo/logo-1820-ideas.png");
  }
  @include breakpoint($medium) {
  }
  @include breakpoint($large) {
  }
  @include breakpoint($max-width) {
  }
}

.nav-main {
  flex-grow: 1;
  margin-left: 280px;
}

.nav-main,
.social-links {
  ul {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.header-top-bar {
  background-color: $white;
  height: 40px;
  display: none;
}
