///////////////////////////////////
// Styles for the site header.
// @_header.scss
///////////////////////////////////

.site-header {
  background: black;
}

.container-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  @include breakpoint($medium) {
    flex-wrap: nowrap;
    height: 196px;
    flex-direction: row-reverse;
    background: url("../img/backgrounds/hp-top-bg-full-width.png") no-repeat
      bottom right / auto 136px;
  }
}

.site-name {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 45px 0;
  justify-content: space-evenly;
  background: url("../img/backgrounds/hp-mobile-bg.jpg") no-repeat center center /
    cover;
  @include breakpoint($medium) {
    background: none;
    width: 25%;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @include breakpoint($medium $max-width) {
    margin-left: 2%;
  }
  a {
    display: block;
    width: 137px;
    height: 113px;
    background: url("../img/logo/reto-pais-logo.png") no-repeat;
    background-size: 100%;
    text-indent: -999px;
    white-space: nowrap;
    order: 1;
    @include breakpoint($medium) {
      width: 167px;
      height: 143px;
    }
  }
  &:after {
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:after {
    content: "";
    display: block;
    width: 75px;
    height: 109px;
    background-image: url("../img/logo/logo-1820-ideas.png");
    order: 2;
    @include breakpoint($medium) {
      width: 116px;
      height: 168px;
    }
  }
}

.nav-main {
  align-self: flex-end;
  @include breakpoint($medium) {
    align-self: auto;
    flex-grow: 1;
    margin-left: 28%;
  }
}

.nav-main,
.social-links {
  position: relative;
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    @include breakpoint($medium) {
      height: 60px;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
    }
  }
}

.social-links {
  position: absolute;
  right: 20px;
  top: 20px;
  @include breakpoint($medium) {
    position: unset;
  }
}

.header-top-bar {
  background-color: $white;
  .container {
    padding: 5px 15px;
    @include breakpoint($max-width) {
      padding: 5px 0;
    }
  }
}
