///////////////////////////////////
// Styles for the site hhomepage.
// @_homepage.scss
///////////////////////////////////

.page-homepage {
  main {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
  }
}

.page-fullwidth-first-full,
.page-fullwidth-third-full {
  width: 100%;
}

.que-es-reto-pais--container-inner,
.pane-homepage-timeline {
  padding: 0 20px;
  overflow: hidden;
  @include breakpoint($desktop) {
    max-width: $max-width;
    margin: 0 auto;
  }
}

.page-fullwidth-first-full {
  padding: 40px 0;
  min-height: 220px;
  .homepage-highlighted {
    font-weight: bold;
  }
}

.page-fullwidth-second {
  margin-bottom: 30px;
  padding: 40px 0;
  background: #f2f2f2;
}

.page-fullwidth-third-full {
  background-color: white;
  margin-bottom: 80px;
}

.pane-homepage-timeline {
  text-align: center;
  padding: 30px 20px;
}

.que-es-reto-pais--title {
  font-family: $roboto;
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  line-height: normal;
  .homepage-highlighted {
    color: $yellow;
  }
}

.que-es-reto-pais--left {
  display: block;
  margin-bottom: 40px;
  p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: normal;
  }
  @include breakpoint($medium) {
    display: inline-block;
    float: left;
    width: 50%;
    padding-right: 30px;
  }
}

.que-es-reto-pais--right {
  display: block;
  @include breakpoint($medium) {
    display: inline-block;
    float: left;
    width: 50%;
    padding-left: 30px;
  }
}

.que-es-reto-pais--link {
  margin-top: 45px;
  .button {
  }
}

.que-es-reto-pais--image {
  width: 100%;
}

.pane-problems-panel-pane-3 {
  max-width: $max-width;
  margin: 40px 0;
  margin: 0 auto;
  .view-content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(253px, 1fr));
    margin-top: 100px;
  }
  .pane-title {
    text-align: center;
    font-family: $rubik;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    @include font-size(2.4);
    @include separator($main-yellow, 0, 40px);
    margin: 0 0 40px 0;
  }
  .views-row {
    text-align: center;
    padding: 0 15px 15px 15px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    .field-image {
      width: 120px;
      height: 120px;
      border-radius: 50% 50%;
      display: block;
      background: white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: -60px;
    }
    .views-field-name {
      color: black;
      margin: 40px 0;
      font-family: $rubik;
      font-style: normal;
      font-weight: bold;
      @include font-size(1.8);
      line-height: normal;
      text-align: center;
    }
    .field-abstract {
      text-align: left;
    }
    .views-row-1 {
      .views-field-name {
        color: $icon-green;
      }
    }
    .views-row-2 {
      .views-field-name {
        color: $icon-yellow;
      }
    }
    .views-row-3 {
      .views-field-name {
        color: $icon-blue;
      }
    }
    .views-row-4 {
      .views-field-name {
        color: $icon-purple;
      }
    }
    h2 {
      text-align: center;
    }
  }
}
.pane-homepage-premios {
  background: $main-yellow;
  padding: 40px 0;
  .pane-content {
    margin: auto;
    max-width: $max-width;
    text-align: center;
  }
  h2 {
    color: #282828;
    font-family: $rubik;
    font-style: italic;
    font-weight: bold;
    @include font-size(2.4);
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
  }
  .button {
    @extend %btn-parallelogram-black;
    margin: 40px 0;
  }
}

.homepage-premios--description p {
  color: #282828;
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  @include font-size(1.8);
  line-height: normal;
  text-align: center;
  width: 234px;
  margin: 0 auto;
}

.pane-homepage-participa {
  width: 100%;
  margin-bottom: 80px;
  background-image: url(../img/backgrounds/hp-bg-participa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .pane-content {
    padding: 80px 0;
  }
}

.homepage-participa-en-el-reto--left,
.homepage-participa-en-el-reto--right {
  position: relative;
  display: inline-block;
}

.homepage-participa-en-el-reto--container-inner {
  position: relative;
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
  padding-bottom: 20px;
  @include breakpoint($medium) {
    text-align: left;
    padding-bottom: 0;
  }
}

.homepage-participa-en-el-reto--left {
  text-align: left;
}

.homepage-participa-en-el-reto--right {
  width: 100%;
  @include breakpoint($medium) {
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .button {
    position: relative;
    &:after {
      @include triangle($white);
    }
  }
}

.homepage-participa-en-el-reto--list {
  list-style-type: none;
  color: $white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  li {
    margin: 15px 0;
    &:nth-child(3) {
      .homepage-particpa-en-el-reto--list-number {
        padding: 4px 6px;
      }
    }
  }
}

.homepage-particpa-en-el-reto--list-number {
  border-radius: 16px;
  padding: 4px 10px;
  background-color: $dark;
}

.homepage-participa-en-el-reto--container {
  background-color: transparentize($white, 0.6);
}
