//////////////////////////////
// input
// @_input.scss
//////////////////////////////

input[type="text"] {
  background-color: white;
  color: #353e42;
  padding: 8px 8px;
  border-radius: 4px;
  border: solid 1px $dark;
  &:focus {
    border: solid 1px $blue;
    color: $blue;
    outline: none;
  }

}

.form-item-textfield,
.form-item-autocomplete {
  label {
    text-transform: uppercase;
  }
}

.form-item-textarea {
  color: $blue;
}

textarea {
  border-radius: 4px;
  border: solid 1px $dark;
  overflow: auto;
  &:focus {
    outline: none;
  }
}
