//////////////////////////////
// Input
// @_input.scss
//////////////////////////////

input[type="text"],
.form-text {
  @include font-size(1.2);
  display: flex;
  background-color: white;
  color: $gray-dark;
  height: 60px;
  padding: 0 15px;
  border: solid 1px $gray;
  width: 100%;
}

textarea {
  font-family: $rubik;
  color: $gray-dark;
  @include font-size(1.2);
  border: solid 1px $gray;
  overflow: auto;
  min-height: 128px;
  padding: 15px;
}

.form-type-textarea,
.form-type-textfield {
  label {
    color: black;
    margin-bottom: 10px;
  }
}

.form-item-textfield,
.form-item-autocomplete {
  label {
    text-transform: uppercase;
  }
}

.grippie {
  display: none;
}
