///////////////////////
// Lists
// @_lists.scss
///////////////////////

// Ordered lists.
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  list-style-type: disc;
}

ol > li {
  counter-increment: step;
  // margin-bottom: 10px;
  // text-indent: -25px;
  // padding-left: 30px;
  p {
    text-indent: 0;
    padding-left: 0;
  }
}

ol > li::before {
  content: counter(step);
  //  margin-right: 5px;
  // font-size: 80%;
  // background-color: $red;
  // color: white;
  // font-weight: bold;
  // padding: 2px 7px;
  // border-radius: 16px;
}

ul {
  li {
    text-indent: 0;
    padding-left: 0;
  }
}

li {
  a {
    &:hover {
      color: $blue;
    }
  }
}
