///////////////////////////////////
// Styles for main navigation.
// @_main-nav.scss
///////////////////////////////////

.nav-main {
  background-color: $azure;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  width: 100%;
  @include breakpoint($medium) {
    border: none;
    background-color: transparent;
    width: 580px;
  }
  @include breakpoint(1090px) {
    width: auto;
  }
  ul {
    &.collapsed {
      display: none;
    }
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    @include font-size(1.2);
    font-family: $rubik;
    color: white;
    text-decoration: none;
  }
  .menu-item-propone {
    text-shadow: none;
  }
  .toggle-nav {
    background-size: 30px 24px;
    background: url(../img/icons/menu.svg) no-repeat 12px center;
    color: $darker-gray;
    display: block;
    font-family: $roboto;
    font-weight: 400;
    padding: 10px 10px 10px 44px;
    @include font-size(2);
  }
  a:hover,
  a.active {
    text-decoration: none;
    border-bottom: 2px solid $main-yellow;
    color: white;
  }

  // .menu-item-propone {
  //   background-color: $yellow;
  //   color: $dark;
  //   @include breakpoint($medium) {
  //     border-radius: 5px;
  //     border-bottom: 2px solid $darkyellow;
  //   }
  //   &:hover,
  //   &.active {
  //     background-color: $yellow;
  //   }
  // }
}
