///////////////////////////////////
// Styles for main navigation.
// @_main-nav.scss
///////////////////////////////////

.nav-main {
  width: 100%;
  background: black;
  padding: 5px 15px;
  @include breakpoint($medium) {
    border: none;
    background-color: transparent;
    width: 580px;
    padding: 0;
  }
  @include breakpoint(1090px) {
    width: auto;
  }
  ul {
    &.collapsed {
      display: none;
    }
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
    @include breakpoint($medium) {
      padding: 0;
    }
  }
  a {
    @include font-size(1.2);
    font-family: $rubik;
    color: white;
    text-decoration: none;
  }
  .menu-item-propone {
    text-shadow: none;
  }
  .toggle-nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-family: $rubik;
    font-style: italic;
    font-weight: bold;
    @include font-size(1.8);
    line-height: normal;
    &:before {
      content: "";
      width: 30px;
      height: 30px;
      background: url(../img/nav/menu-toogle.svg) no-repeat center center;
    }
  }
  a:hover,
  a.active {
    text-decoration: none;
    border-bottom: 2px solid $main-yellow;
    color: white;
  }

  // .menu-item-propone {
  //   background-color: $yellow;
  //   color: $dark;
  //   @include breakpoint($medium) {
  //     border-radius: 5px;
  //     border-bottom: 2px solid $darkyellow;
  //   }
  //   &:hover,
  //   &.active {
  //     background-color: $yellow;
  //   }
  // }
}
