///////////////////////////////////
// Styles for main navigation.
// @_main-nav.scss
///////////////////////////////////

.nav-main {
  background-color: $azure;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  width: 100%;
  @include breakpoint($medium) {
    border: none;
    background-color: transparent;
    width: 580px;
  }
  @include breakpoint(1090px) {
    width: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    &.collapsed {
      display: none;
    }
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include breakpoint($medium) {
      display: inline-block;
    }
  }
  a {
    border-top: 1px solid $light-gray;
    color: $darker-gray;
    font-family: $oswald;
    display: block;
    padding: 10px 12px;
    font-weight: 400;
    @include font-size(1.8);
    @include breakpoint($medium) {
      border-top: none;
      color: $white;
      padding: 6px 18px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
      @include font-size(1.7);
    }
  }
  .menu-item-propone {
    text-shadow: none;
  }
  .toggle-nav {
    background-size: 30px 24px;
    background: url(../img/icons/menu.svg) no-repeat 12px center;
    color: $darker-gray;
    display: block;
    font-family: $oswald;
    font-weight: 400;
    padding: 10px 10px 10px 44px;
    @include font-size(2);
  }
  a:hover, a.active {
    background-color: $red;
    color: $white;
    text-decoration: none;
    @include breakpoint($medium) {
      background-color: transparent;
      color: $red;
    }
  }

  .menu-item-propone {
    background-color: $yellow;
    color: $dark;
    @include breakpoint($medium) {
      border-radius: 5px;
      border-bottom: 2px solid $darkyellow;
    }
    &:hover, &.active {
      background-color: $yellow;
    }
  }
}
