.page-alianzas {
  .pane-title {
    @include separator($main-yellow);
    font-family: $rubik;
    font-style: italic;
    font-weight: bold;
    @include font-size(2.4);
    line-height: normal;
    text-align: center;
  }
}
