//////////////////////////////
// Panes de qué es reto país.
// @_pager.scss
//////////////////////////////

.pane-que-es-retopais-intro, .pane-que-es-retopais-footer {
  @include breakpoint($medium) {
    width: 80%;
  }
  @include breakpoint($large) {
    width: 50%;
  }
}

// Proposal.
.pane-que-es-retopais-proposals {
  p {
    background-color: $yellow;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    &:before {
      content: '*';
    }
  }
  @include breakpoint($medium) {
    p {
      width: auto;
      display: inline-block;
      padding: 10px 0 10px 10px;
      &:after {
        content: '';
        position: relative;
        right: -30px;
        top: 29px;
        width: 0;
        height: 0;
        border-width: 39px 30px 0 0;
        border-style: solid;
        border-color: $yellow transparent transparent transparent;
      }
    }
  }
}
