//////////////////////////////
// Proposal list.
// @_proposal-list.scss
//////////////////////////////

.pane-proposal-progress {
  background-color: $azure;

}
.proposal-progress-list {
  list-style-type: none;
  padding: 0 10px;
}

.proposal-progress-list-item {
  margin: 5px 0;
}

.proposal-progress-item-current {
  font-family: $oswald;
  @include font-size(1.7);
  color: $red;
  margin: 8px 0;
}

.form-actions {
  margin: 3rem 0;
}
