//////////////////////////////
// Propone idea form.
// @_form.scss
//////////////////////////////

.select-buttons {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin-bottom: 30px;
  li {
    list-style-type: none;
    margin: 0 10px 20px 0;
    a {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      width: 220px;
      height: 60px;
      color: $dark;
      font-weight: 400;
      @include font-size(1.3);
      border-radius: 5px;
      background-color: #f2f2f2;
      box-shadow: 0 3px 0 $darker-gray;
      &:hover {
        text-decoration: none;
      }
      &.picked {
        background-color: #dddddd;
      }
    }
  }
}

// Hide select a value.
.page-node-add-proposal {
  .select-buttons {
    li:first-child {
      display: none;
    }
  }
}

.form-item-field-project-running-und {
  .select-buttons {
    li:nth-child(1):nth-last-child(3) {
      display: none;
    }
  }
}

.tabledrag-toggle-weight-wrapper {
  display: none;
}

// Apply box shadow colours to buttons.
.form-item-field-problem-und {
  .page-node-add-proposal & ul {
    li:nth-child(2) {
      a {
        box-shadow: 0 3px 0 $icon-purple;
      }
    }
    li:nth-child(3) {
      a {
        box-shadow: 0 3px 0 $icon-yellow;
      }
    }
    li:nth-child(4) {
      a {
        box-shadow: 0 3px 0 $icon-green;
      }
    }
    li:nth-child(5) {
      a {
        box-shadow: 0 3px 0 $icon-blue;
      }
    }
  }
  ul {
    li:nth-child(1) {
      a {
        box-shadow: 0 3px 0 $icon-purple;
      }
    }
    li:nth-child(2) {
      a {
        box-shadow: 0 3px 0 $icon-yellow;
      }
    }
    li:nth-child(3) {
      a {
        box-shadow: 0 3px 0 $icon-green;
      }
    }
    li:nth-child(4) {
      a {
        box-shadow: 0 3px 0 $icon-blue;
      }
    }
  }
}
