//////////////////////////////
// Proposal node.
// @_proposal-node.scss
//////////////////////////////

.node-type-proposal {
  .panel-pane {
    margin: 15px 0;
  }
  h4, .pane-content {
    display: inline-block;
    margin: 0;
  }
  .panel-col {
    & > div {
      position: relative;
    }
  }
}

.pane-node-field-project-links, .pane-node-field-canton, .pane-node-field-project-running {
  .pane-content {
    display: block;
  }
}

.pane-node-field-organization-way, .pane-node-field-project-audience, .pane-node-field-project-links,
.pane-node-field-organization-address, .pane-node-field-idea-features {
  padding-bottom: 30px;
  border-bottom: 1px solid transparentize($dark, 0.8);
}

.pane-flag-link {
  position: absolute;
  top: 0;
  right: 0;
}
