//////////////////////////////
// Problems views
// @_pager.scss
//////////////////////////////

.pane-problems-panel-pane-1 {
  margin: 40px 0 0 0;
  .view-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: $roboto;
    @include breakpoint($medium) {
      justify-content: center;
    }
    @include breakpoint($large) {
      width: 70%;
    }
  }
  .views-row {
    text-align: center;
    flex: 1 1 100%;
    margin-bottom: 20px;
    @include breakpoint($small) {
      flex: 1 1 40%;
    }
    @include breakpoint($large) {
      flex: 1 1 25%;
    }
  }
  .icon-paridad-de-genero-en-educacion {
    color: $icon-purple;
  }
  .icon-accidentes-de-transito {
    color: $icon-yellow;
  }
  .icon-separacion-y-recoleccion-de-residuos {
    color: $icon-green;
  }
  .icon-acceso-a-cultura-y-recreacion {
    color: $icon-blue;
  }
}

.pane-problems-panel-pane-2 {
  margin-top: 50px;
  .views-row {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin-bottom: 80px;
    .field-image {
      grid-row: 1 / 3;
    }
    * {
      margin: 0;
    }
  }
  .view-content h3 {
    max-width: 287px;
    color: black;
    font-family: $rubik;
    font-style: italic;
    font-weight: bold;
    @include font-size(2.4);
    line-height: 23px;
  }
  .views-field-description {
    clear: both;
  }
}
