/////////////////////////////////
// Proposal CTA Footer.
// @_proposal-cta-footer.scss
/////////////////////////////////

.pane-problems-problems-only-names {
  .cta-propone {
    position: relative;
    border-radius: 4px;
    font-family: $roboto;
    font-weight: 400;
    padding: 20px 60px 18px 90px;
    text-indent: -40px;
    text-transform: uppercase;
    width: 244px;
    &:hover {
      padding: 20px 60px 18px 90px;
    }
    &:after {
      content: "";
      @include triangle($white);
      margin-left: 30px;
    }
  }
  .view-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    @include breakpoint($medium) {
      display: unset;
    }
  }

  .field-content {
    display: block;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    margin-bottom: 20px;
  }

  .icon-acceso-a-cultura-y-recreacion {
    background: url("../img/icons/problematica/acceso-cultura-sm.png") no-repeat;
    height: 37px;
  }

  .icon-descarbonizacion {
    background: url("../img/icons/problematica/descarbonizacion-sm.png")
      no-repeat;
  }

  .icon-gestion-de-residuos {
    background: url("../img/icons/problematica/gestion-residuos-sm.png")
      no-repeat;
  }

  .icon-seguridad-ciudadana {
    background: url("../img/icons/problematica/seguridad-ciudadana-sm.png")
      no-repeat;
  }
}
