/////////////////////////////////
// Proposal CTA Footer.
// @_proposal-cta-footer.scss
/////////////////////////////////

.pane-problems-problems-only-names {
  .cta-propone {
    position: relative;
    border-radius: 4px;
    font-family: $roboto;
    font-weight: 400;
    padding: 20px 60px 18px 90px;
    text-indent: -40px;
    text-transform: uppercase;
    width: 244px;
    &:hover {
      padding: 20px 60px 18px 90px;
    }
    &:after {
      content: "";
      @include triangle($white);
      margin-left: 30px;
    }
  }
  .view-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    @include breakpoint($medium) {
      display: unset;
    }
  }

  .field-content {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    margin-bottom: 20px;
  }

  .icon-paridad-de-genero-en-educacion {
    background: url("../img/sprite.png") no-repeat -24px -3285px;
  }

  .icon-accidentes-de-transito {
    background: url("../img/sprite.png") no-repeat -16px -2997px;
  }

  .icon-separacion-y-recoleccion-de-residuos {
    background: url("../img/sprite.png") no-repeat -14px -2848px;
  }

  .icon-acceso-a-cultura-y-recreacion {
    background: url("../img/sprite.png") no-repeat -21px -3148px;
  }
}
