///////////////////////////////
// Latest articles.
// @_recent-articles.scss
///////////////////////////////

.pane-blog-recent-articles {
  h2 {
    color: $red;
    margin: 0;
    text-transform: uppercase;
    @include font-size(2);
  }
  h3 {
    @include font-size(1.6);
  }
  .views-row {
    border-bottom: 1px solid $dark-gray;
    padding: 15px 0;
    &:last-child {
      border-bottom: none;
    }
  }
  .blog-item--title {
    margin: 0;
  }
  .blog-item--body {
    p {
      margin: 0;
      @include font-size(1.4);
    }
  }
  &.recent-articles-sidebar {
    background-color: $background-gray;
    padding: 20px;
    margin-bottom: 30px;
    h2 {
      font-weight: 400;
      text-transform: none;
      @include font-size(2.4);
    }
  }
}
