///////////////////////////////////////
// Styles for top bar navigation.
// @_top-bar-nav.scss
///////////////////////////////////////

.nav-top-bar {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  li {
    margin: 0 0 0 5px;
    padding: 0;
    display: block;
  }
  a {
    display: block;
    height: 40px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.menu-item-cafe-1820 {
  background-image: url("../img/nav/logo-cafe1820.jpg");
  width: 30px;
}

.menu-item-impacthub-sanjose {
  background-image: url("../img/nav/logo-ihsjo.png");
  width: 95px;
}

.menu-item-mesainnovacion {
  background-image: url("../img/nav/logo-gobiernocr.png");
}

.menu-item-impactico {
  background-image: url("../img/nav/logo-impactico.png");
}
