/////////////////////////////////
// Layout for blog teaser.
// @_blog-list.scss
/////////////////////////////////

.blog-list-page {
  .view-header {
    margin-bottom: 40px;
  }
  .views-row {
    margin-bottom: 45px;
    &:last-child {
      border-bottom: none;
      padding: 0;
    }
  }
  .blog-item {
    overflow: hidden;
  }
}
