/////////////////////////////////
// Layout for blog teaser.
// @_blog-list.scss
/////////////////////////////////

.blog-list-page {
  .view-header {
    margin-bottom: 40px;
  }
  .views-row {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 30px;
    padding-bottom: 30px;
    &:last-child {
      border-bottom: none;
      padding: 0;
    }
  }
  .blog-item {
    overflow: hidden;
  }
  .blog-item--image {
    margin-bottom: 10px;
    @include breakpoint($small) {
      float: left;
      margin-bottom: 0;
      width: 48%;
    }
  }
  .blog-item--content {
    @include breakpoint($small) {
      float: right;
      width: 48%;
    }
  }
}
