//////////////////////////////////
// Footer Layout.
// @_footer.scss
//////////////////////////////////

.site-footer {
  margin-top: 80px;
  padding: 20px 0 40px;
  overflow: hidden;
  .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "footer-menu articles icons"
      "sponsor sponsor sponsor";
  }
  .pane-menu-footer-menu {
    grid-area: footer-menu;
  }
  .pane-blog-recent-articles {
    grid-area: articles;
  }
  .pane-problems-problems-only-names {
    grid-area: icons;
    justify-self: end;
  }
  .pane-alianzas-panel-pane-4 {
    grid-area: sponsor;
  }
}
