///////////////////////////////
// Sidebar page.
// @_sidebarpage.scss
///////////////////////////////

.page-sidebar {
  display: grid;
  grid-gap: 35px;
  @include breakpoint($medium) {
    grid-template-columns: auto 340px;
    .page-sidebar-secondary-content {
      padding-left: 35px;
      border-left: 1px solid $gray;
    }
  }
  @include breakpoint($max-width) {
    padding-top: 50px;
  }
}
