///////////////////////
// More links
// @_more.scss
///////////////////////

.more-link,
.more-help-link {
  a {
    width: 100%;
    height: 100%;
    @extend .button;
    text-decoration: none;
  }
}
.more-help-link {
  a {
    background-position: 10px 50%;
  }
}
