//////////////////////////////
// Proposal table.
// @_pager.scss
//////////////////////////////

.field-name-field-project-links {
  display: block;
  .draggable {
    background-color: $white;
    border-bottom: none;
  }
  tbody {
    display: block;
    border-top: none;
    margin-top: 10px;
    a {
      display: none;
    }
    td {
      display: inline-block;
      margin-bottom: 10px;
      &.field-multiple-drag {
        width: 0;
      }
    }
  }
  th {
    border: none;
  }
}
