@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.page-admin-appearance-styleguide {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main, .container {
  padding: 0 20px;
}

@media (min-width: 1240px) {
  main, .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

html, body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #353e42;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
}

h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #4ba3bf;
}

h4 {
  font-size: 16px;
  font-size: 1.6rem;
}

h4 a:hover {
  color: #4ba3bf;
}

a {
  font-size: 16px;
  font-size: 1.6rem;
}

p, div {
  font-size: 16px;
  font-size: 1.6rem;
}

b, strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

button,
.button,
.more-link a,
.more-help-link a,
input[type='submit'],
input[type='submit'] + #edit-cancel {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

div:not(#foo) input[type="checkbox"] {
  opacity: 0;
  float: left;
  width: 1px;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

div:not(#foo) input[type="checkbox"] + label {
  clear: none;
  padding: 0 0 0 26px;
  display: inline-block;
  cursor: pointer;
  background-size: 20px;
  background-position: left center;
  background-image: url("../img/icons/squared.svg");
  background-repeat: no-repeat;
}

div:not(#foo) input[type="checkbox"] + label.required {
  border-color: #e13e32;
  color: #e13e32;
}

div:not(#foo) input[type="checkbox"]:checked + label {
  cursor: pointer;
  background-size: 23px 20px;
  background-image: url("../img/icons/squared-checked.svg");
}

a {
  text-decoration: none;
  color: #4ba3bf;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol li {
  counter-increment: step;
  margin-bottom: 10px;
  text-indent: -25px;
  padding-left: 30px;
}

ol li::before {
  content: counter(step);
  margin-right: 5px;
  font-size: 80%;
  background-color: #e13e32;
  color: white;
  font-weight: bold;
  padding: 2px 7px;
  border-radius: 16px;
}

li a:hover {
  color: #4ba3bf;
}

div:not(#foo) input[type="radio"] {
  opacity: 0;
  float: left;
  width: 1px;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

div:not(#foo) input[type="radio"].required {
  border-color: #e13e32;
}

div:not(#foo) input[type="radio"] + label {
  clear: none;
  padding: 0 0 0 26px;
  display: inline-block;
  cursor: pointer;
  background-size: 20px;
  background-position: left center;
  background-image: url("../img/icons/round.svg");
  background-repeat: no-repeat;
}

div:not(#foo) input[type="radio"] + label.required {
  border-color: #e13e32;
  color: #e13e32;
}

div:not(#foo) input[type="radio"]:checked + label {
  cursor: pointer;
  background-image: url("../img/icons/round-checked.svg");
}

input[type="text"],
.form-text {
  background-color: white;
  color: #353e42;
  padding: 8px 8px;
  border-radius: 4px;
  border: solid 1px #353e42;
}

input[type="text"]:focus,
.form-text:focus {
  border: solid 1px #4ba3bf;
  color: #4ba3bf;
  outline: none;
}

.form-item-textfield label,
.form-item-autocomplete label {
  text-transform: uppercase;
}

textarea {
  border-radius: 4px;
  border: solid 1px #353e42;
  overflow: auto;
  min-height: 128px;
}

textarea:focus {
  outline: none;
}

.grippie {
  display: none;
}

button,
.button,
.more-link a,
.more-help-link a,
input[type='submit'],
input[type='submit'] + #edit-cancel {
  border-radius: 5px;
  padding: 18px 60px;
  border: 2px solid #4ba3bf;
  color: #4ba3bf;
  background-color: #fff;
  text-transform: uppercase;
}

button:hover,
.button:hover,
.more-link a:hover,
.more-help-link a:hover,
input[type='submit']:hover,
input[type='submit'] + #edit-cancel:hover {
  background-color: #4ba3bf;
  box-shadow: 0 2px 0 #318da3;
  color: #fff;
  cursor: pointer;
  padding: 18px 60px 16px 60px;
  margin-bottom: 2px;
}

input[type='submit'] + #edit-cancel {
  margin-left: 10px;
}

.button-red,
.button-dark {
  border: none;
  padding: 20px 60px 18px 60px;
  margin-bottom: 2px;
}

.button-red:hover,
.button-dark:hover {
  padding: 20px 60px 18px 60px;
}

.button-red {
  color: #fff;
  background-color: #e13e32;
  box-shadow: 0 2px 0 #cc2925;
}

.button-red:hover {
  background-color: #cc2925;
  box-shadow: 0 2px 0 #b21b1b;
}

.button-yellow {
  border: 2px solid #ffcb50;
  color: #353e42;
}

.button-yellow:hover {
  background-color: #ffcb50;
  box-shadow: 0 2px 0 #e5a72c;
}

.button-dark {
  background-color: #d1d1d1;
  box-shadow: 0 2px 0 #5d5d5d;
  color: #353e42;
}

.button-dark:hover {
  color: #fff;
  background-color: #353e42;
  box-shadow: 0 2px 0 #5d5d5d;
}

hr {
  border: none;
  border-bottom: 5px solid #f0f7f7;
  margin: 1.4em 0;
}

.breadcrumb {
  color: #4ba3bf;
}

.more-link a,
.more-help-link a {
  width: 100%;
  height: 100%;
}

.more-help-link a {
  background-position: 10px 50%;
}

.site-header {
  background: url(../img/backgrounds/header-bg.png) no-repeat center 40px;
  background-size: cover;
}

.container-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .container-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-top-bar {
  background-color: #fff;
  height: 40px;
}

.site-name {
  background: url(../img/logo/logo.svg) no-repeat;
  background-size: 100%;
  display: block;
  height: 122px;
  margin: 20px 10px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 150px;
}

@media (min-width: 768px) {
  .site-name {
    height: 174px;
    margin: 40px 10px;
    width: 215px;
  }
}

@media (min-width: 1024px) {
  .site-name {
    height: 223px;
    width: 276px;
  }
}

@media (min-width: 1200px) {
  .site-name {
    height: 248px;
    width: 307px;
  }
}

.nav-top-bar ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav-top-bar li {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0;
  list-style-type: none;
}

.nav-top-bar a {
  display: block;
  height: 40px;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.menu-item-mesainnovacion {
  background-image: url(../img/nav/logo-mesainnovacion.png);
}

.menu-item-impactico {
  background-image: url(../img/nav/logo-impactico.png);
}

.nav-main {
  background-color: #afafaf;
  width: 100%;
}

@media (min-width: 768px) {
  .nav-main {
    background-color: transparent;
    width: 580px;
  }
}

@media (min-width: 1090px) {
  .nav-main {
    width: auto;
  }
}

.nav-main ul {
  margin: 0;
  padding: 0;
}

.nav-main ul.collapsed {
  display: none;
}

.nav-main li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .nav-main li {
    display: inline-block;
  }
}

.nav-main a, .nav-main .toggle-nav {
  color: #fff;
  font-family: Oswald;
  display: block;
  padding: 10px;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .nav-main a, .nav-main .toggle-nav {
    padding: 6px 18px;
    font-size: 17px;
    font-size: 1.7rem;
  }
}

.nav-main .toggle-nav {
  padding-left: 40px;
  background: url(../img/icons/menu.svg) no-repeat 5px center;
  background-size: 30px 24px;
}

.nav-main a:hover, .nav-main a.active {
  color: #e13e32;
}

.nav-main .menu-item-propone {
  background-color: #ffcb50;
  color: #353e42;
}

@media (min-width: 768px) {
  .nav-main .menu-item-propone {
    border-radius: 5px;
    border-bottom: 2px solid #e5a72c;
  }
}

.pane-problems-panel-pane-1 {
  margin: 40px 0 0 0;
}

.pane-problems-panel-pane-1 .view-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Oswald", sans-serif;
}

@media (min-width: 768px) {
  .pane-problems-panel-pane-1 .view-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  .pane-problems-panel-pane-1 .view-content {
    width: 70%;
  }
}

.pane-problems-panel-pane-1 .views-row {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  .pane-problems-panel-pane-1 .views-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}

@media (min-width: 1024px) {
  .pane-problems-panel-pane-1 .views-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

.pane-problems-panel-pane-1 .icon-acceso-a-la-educacion-superior {
  color: #8D519F;
}

.pane-problems-panel-pane-1 .icon-accidentes-de-transito {
  color: #ffcb50;
}

.pane-problems-panel-pane-1 .icon-separacion-y-recoleccion-de-residuos {
  color: #91C73E;
}

.pane-problems-panel-pane-1 .icon-tasa-de-obesidad {
  color: #008ECE;
}

@media (min-width: 768px) {
  .pane-que-es-retopais-intro, .pane-que-es-retopais-footer {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .pane-que-es-retopais-intro, .pane-que-es-retopais-footer {
    width: 50%;
  }
}

.pane-que-es-retopais-proposals p {
  background-color: #ffcb50;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.pane-que-es-retopais-proposals p:before {
  content: '*';
}

@media (min-width: 768px) {
  .pane-que-es-retopais-proposals p {
    width: auto;
    display: inline-block;
    padding: 10px 0 10px 10px;
  }
  .pane-que-es-retopais-proposals p:after {
    content: '';
    position: relative;
    right: -30px;
    top: 29px;
    width: 0;
    height: 0;
    border-width: 39px 30px 0 0;
    border-style: solid;
    border-color: #ffcb50 transparent transparent transparent;
  }
}

.stages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stages-list li {
  position: relative;
  background-color: #353e42;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  text-indent: 0;
}

.stages-list li:before {
  font-family: "Oswald", sans-serif;
  background-color: #4ba3bf;
  padding: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.stages-list li .stages-wrapper {
  margin-left: -30px;
}

.pane-que-es-retopais-cta {
  margin: 50px 0;
}

.pane-que-es-retopais-cta .button, .pane-que-es-retopais-cta .more-link a, .more-link .pane-que-es-retopais-cta a, .pane-que-es-retopais-cta
.more-help-link a,
.more-help-link .pane-que-es-retopais-cta a {
  position: relative;
}

.pane-que-es-retopais-cta .button:after, .pane-que-es-retopais-cta .more-link a:after, .more-link .pane-que-es-retopais-cta a:after, .pane-que-es-retopais-cta
.more-help-link a:after,
.more-help-link .pane-que-es-retopais-cta a:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #ffffff;
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  margin-left: 10px;
}
