@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.page-admin-appearance-styleguide {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

main, .container {
  display: block;
  overflow: hidden;
  padding: 0 20px;
}

@media (min-width: 1240px) {
  main, .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

main {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .page-sidebar-primary-content {
    width: 72.88136%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

@media (min-width: 768px) {
  .page-sidebar-secondary-content {
    width: 25.42373%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.page-que-es-reto-pais .page-sidebar-primary-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

@media (min-width: 768px) {
  .pane-proposal-progress {
    width: 18.64407%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

@media (min-width: 768px) {
  .pane-form {
    width: 79.66102%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.site-footer {
  margin-top: 30px;
  overflow: hidden;
  padding: 30px 0;
}

@media (min-width: 768px) {
  .site-footer {
    margin-top: 60px;
    padding: 50px 0 30px 0;
  }
}

.site-footer .pane-menu-footer-menu {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .site-footer .pane-menu-footer-menu {
    width: 25.42373%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}

.site-footer .pane-blog-recent-articles {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .site-footer .pane-blog-recent-articles {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 27.11864%;
    clear: none;
  }
}

@media (min-width: 1024px) {
  .site-footer .pane-blog-recent-articles {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none;
  }
}

.site-footer .pane-problems-problems-only-names {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .site-footer .pane-problems-problems-only-names {
    width: 25.42373%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}

@media (min-width: 1024px) {
  .site-footer .pane-problems-problems-only-names {
    width: 25.42373%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.site-footer .pane-alianzas-panel-pane-4 {
  width: 100%;
  clear: both;
}

.blog-list-page .view-header {
  margin-bottom: 40px;
}

.blog-list-page .views-row {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.blog-list-page .views-row:last-child {
  border-bottom: none;
  padding: 0;
}

.blog-list-page .blog-item {
  overflow: hidden;
}

.blog-list-page .blog-item--image {
  margin-bottom: 10px;
}

@media (min-width: 480px) {
  .blog-list-page .blog-item--image {
    float: left;
    margin-bottom: 0;
    width: 48%;
  }
}

@media (min-width: 480px) {
  .blog-list-page .blog-item--content {
    float: right;
    width: 48%;
  }
}

html, body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #5d5d5d;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
  color: #353e42;
}

h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #4ba3bf;
}

h4 {
  font-size: 16px;
  font-size: 1.6rem;
}

h4 a:hover {
  color: #4ba3bf;
}

h1, h2, h4, h5, h6 {
  color: #353e42;
}

p, div, li {
  font-size: 16px;
  font-size: 1.6rem;
}

b, strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

button,
.button,
.more-link a,
.more-help-link a,
input[type='submit'],
input[type='submit'] + #edit-cancel {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

div:not(#foo) input[type="checkbox"] {
  opacity: 0;
  float: left;
  width: 1px;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

div:not(#foo) input[type="checkbox"] + label {
  clear: none;
  padding: 0 0 0 26px;
  display: inline-block;
  cursor: pointer;
  background-size: 20px;
  background-position: left center;
  background-image: url("../img/icons/squared.svg");
  background-repeat: no-repeat;
}

div:not(#foo) input[type="checkbox"] + label.required {
  border-color: #e13e32;
  color: #e13e32;
}

div:not(#foo) input[type="checkbox"]:checked + label {
  cursor: pointer;
  background-size: 23px 20px;
  background-image: url("../img/icons/squared-checked.svg");
}

.messages {
  border-radius: 4px;
}

.messages.status, .messages.warning, .messages.error {
  border: none;
  padding: 30px 10px 30px 60px;
  background-position: 18px 50%;
}

.messages.status {
  display: none;
  background-image: url(../img/icons/check.png);
  background-color: #6BC690;
  color: #fff;
}

.messages.warning {
  background-image: url(../img/icons/warning.png);
  background-color: #ffcb50;
  color: #5d5d5d;
}

.messages.error {
  background-image: url(../img/icons/error.png);
  background-color: #DF3C32;
  color: #fff;
}

.pane-page-messages {
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: #4ba3bf;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol li {
  counter-increment: step;
  margin-bottom: 10px;
  text-indent: -25px;
  padding-left: 30px;
}

ol li::before {
  content: counter(step);
  margin-right: 5px;
  font-size: 80%;
  background-color: #e13e32;
  color: white;
  font-weight: bold;
  padding: 2px 7px;
  border-radius: 16px;
}

li a:hover {
  color: #4ba3bf;
}

div:not(#foo) input[type="radio"] {
  opacity: 0;
  float: left;
  width: 1px;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

div:not(#foo) input[type="radio"].required {
  border-color: #e13e32;
}

div:not(#foo) input[type="radio"] + label {
  clear: none;
  padding: 0 0 0 26px;
  display: inline-block;
  cursor: pointer;
  background-size: 20px;
  background-position: left center;
  background-image: url("../img/icons/round.svg");
  background-repeat: no-repeat;
}

div:not(#foo) input[type="radio"] + label.required {
  border-color: #e13e32;
  color: #e13e32;
}

div:not(#foo) input[type="radio"]:checked + label {
  cursor: pointer;
  background-image: url("../img/icons/round-checked.svg");
}

input[type="text"],
.form-text {
  background-color: white;
  color: #353e42;
  padding: 8px 8px;
  border-radius: 4px;
  border: solid 1px #353e42;
  width: 100%;
  max-width: 400px;
}

textarea {
  border-radius: 4px;
  border: solid 1px #353e42;
  overflow: auto;
  min-height: 128px;
  max-width: 600px;
}

.form-type-textarea label, .form-type-textfield label {
  max-width: 600px;
  margin-bottom: 10px;
}

input[type="text"]:focus,
.form-text:focus,
textarea:focus {
  border: solid 1px #4ba3bf;
  color: #4ba3bf;
  outline: none;
}

.form-item-textfield label,
.form-item-autocomplete label {
  text-transform: uppercase;
}

.grippie {
  display: none;
}

button,
.button,
.more-link a,
.more-help-link a,
input[type='submit'],
input[type='submit'] + #edit-cancel {
  border-radius: 5px;
  padding: 18px 60px;
  border: 2px solid #4ba3bf;
  color: #4ba3bf;
  background-color: #fff;
  text-transform: uppercase;
}

button:hover,
.button:hover,
.more-link a:hover,
.more-help-link a:hover,
input[type='submit']:hover,
input[type='submit'] + #edit-cancel:hover {
  background-color: #4ba3bf;
  box-shadow: 0 2px 0 #318da3;
  color: #fff;
  cursor: pointer;
  padding: 18px 60px 16px 60px;
  margin-bottom: 2px;
}

button:focus,
.button:focus,
.more-link a:focus,
.more-help-link a:focus,
input[type='submit']:focus,
input[type='submit'] + #edit-cancel:focus {
  outline-style: none;
}

input[type='submit'] + #edit-cancel {
  margin-left: 10px;
  text-decoration: none;
}

.button-red,
.button-dark {
  border: none;
  display: inline-block;
  padding: 20px 60px 18px 60px;
  margin-bottom: 2px;
}

.button-red:hover,
.button-dark:hover {
  padding: 20px 60px 18px 60px;
  text-decoration: none;
}

.button-red {
  color: #fff;
  background-color: #e13e32;
  box-shadow: 0 2px 0 #cc2925;
}

.button-red:hover {
  background-color: #cc2925;
  box-shadow: 0 2px 0 #b21b1b;
}

.button-yellow {
  border: 2px solid #ffcb50;
  color: #353e42;
  display: inline-block;
}

.button-yellow:hover {
  background-color: #ffcb50;
  box-shadow: 0 2px 0 #e5a72c;
  text-decoration: none;
}

.button-dark {
  background-color: #d1d1d1;
  box-shadow: 0 2px 0 #5d5d5d;
  color: #353e42;
}

.button-dark:hover {
  color: #fff;
  background-color: #353e42;
  box-shadow: 0 2px 0 #5d5d5d;
}

hr {
  border: none;
  border-bottom: 5px solid #f0f7f7;
  margin: 1.4em 0;
}

.breadcrumb {
  color: #4ba3bf;
}

.breadcrumbs-blog-full {
  display: inline;
}

.breadcrumbs-blog-full .breadcrumb {
  color: #5d5d5d;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}

.breadcrumbs-blog-full div {
  display: inline;
}

.breadcrumbs-blog-full a {
  color: #5d5d5d;
  font-weight: 400;
}

.more-link a,
.more-help-link a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.more-help-link a {
  background-position: 10px 50%;
}

.site-header {
  background: url(../img/backgrounds/header-bg.png) no-repeat center 40px;
  background-size: cover;
}

.container-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  position: relative;
}

@media (min-width: 768px) {
  .container-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-top-bar {
  background-color: #fff;
  height: 40px;
}

.site-name {
  background: url(../img/logo/logo.svg) no-repeat;
  background-size: 100%;
  display: block;
  height: 122px;
  margin: 20px 10px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 150px;
}

.site-name a {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .site-name {
    height: 174px;
    margin: 40px 10px;
    width: 215px;
  }
}

@media (min-width: 1024px) {
  .site-name {
    height: 223px;
    width: 276px;
  }
}

@media (min-width: 1200px) {
  .site-name {
    height: 248px;
    width: 307px;
  }
}

.site-footer {
  background-color: #f2f2f2;
}

.nav-top-bar ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav-top-bar li {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0;
  list-style-type: none;
}

.nav-top-bar a {
  display: block;
  height: 40px;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.menu-item-mesainnovacion {
  background-image: url(../img/nav/logo-gobiernocr.png);
}

.menu-item-impactico {
  background-image: url(../img/nav/logo-impactico.png);
}

.nav-main {
  background-color: #f0f7f7;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  width: 100%;
}

@media (min-width: 768px) {
  .nav-main {
    border: none;
    background-color: transparent;
    width: 580px;
  }
}

@media (min-width: 1090px) {
  .nav-main {
    width: auto;
  }
}

.nav-main ul {
  margin: 0;
  padding: 0;
}

.nav-main ul.collapsed {
  display: none;
}

.nav-main li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .nav-main li {
    display: inline-block;
  }
}

.nav-main a {
  border-top: 1px solid #dddddd;
  color: #5d5d5d;
  font-family: "Oswald", sans-serif;
  display: block;
  padding: 10px 12px;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .nav-main a {
    border-top: none;
    color: #fff;
    padding: 5px 11px;
    text-shadow: 2px 1.7px 0px rgba(47, 14, 14, 0.73);
    font-size: 20px;
    font-size: 2rem;
  }
}

.nav-main .menu-item-propone {
  text-shadow: none;
}

.nav-main .toggle-nav {
  background-size: 30px 24px;
  background: url(../img/icons/menu.svg) no-repeat 12px center;
  color: #5d5d5d;
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 10px 10px 10px 44px;
  font-size: 20px;
  font-size: 2rem;
}

.nav-main a:hover, .nav-main a.active {
  background-color: #e13e32;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-main a:hover, .nav-main a.active {
    background-color: transparent;
    color: #e13e32;
  }
}

.nav-main .menu-item-propone {
  background-color: #ffcb50;
  color: #353e42;
}

@media (min-width: 768px) {
  .nav-main .menu-item-propone {
    border-radius: 5px;
    border-bottom: 2px solid #e5a72c;
  }
}

.nav-main .menu-item-propone:hover, .nav-main .menu-item-propone.active {
  background-color: #ffcb50;
}

.social-links {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (min-width: 1024px) {
  .social-links {
    right: 18px;
    top: 30px;
  }
}

.social-links ul {
  margin: 0;
  padding: 0;
}

.social-links li {
  margin: 0 0 5px 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .social-links li {
    display: inline-block;
    margin: 0;
  }
}

.social-links a {
  display: block;
  height: 25px;
  overflow: hidden;
  text-indent: 100%;
  width: 25px;
  white-space: nowrap;
}

.social-links .social-fb {
  background-image: url(../img/nav/icon-facebook.svg);
}

.nav-footer ul {
  margin: 0;
  padding: 0;
}

.nav-footer li {
  list-style-type: none;
  margin: 15px 0;
  padding: 0;
}

.nav-footer a {
  font-family: "Oswald", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  font-size: 1.5rem;
}

.nav-footer a.active, .nav-footer a:hover {
  color: red;
  text-decoration: none;
}

.pane-problems-panel-pane-1 {
  margin: 40px 0 0 0;
}

.pane-problems-panel-pane-1 .view-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Oswald", sans-serif;
}

@media (min-width: 768px) {
  .pane-problems-panel-pane-1 .view-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  .pane-problems-panel-pane-1 .view-content {
    width: 70%;
  }
}

.pane-problems-panel-pane-1 .views-row {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  .pane-problems-panel-pane-1 .views-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}

@media (min-width: 1024px) {
  .pane-problems-panel-pane-1 .views-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

.pane-problems-panel-pane-1 .icon-acceso-a-la-educacion-superior {
  color: #8D519F;
}

.pane-problems-panel-pane-1 .icon-accidentes-de-transito {
  color: #ffcb50;
}

.pane-problems-panel-pane-1 .icon-separacion-y-recoleccion-de-residuos {
  color: #91C73E;
}

.pane-problems-panel-pane-1 .icon-tasa-de-obesidad {
  color: #008ECE;
}

.pane-problems-panel-pane-2 {
  margin-top: 50px;
}

.pane-problems-panel-pane-2 .field-image,
.pane-problems-panel-pane-2 .views-field-name {
  float: left;
  margin-bottom: 20px;
}

.pane-problems-panel-pane-2 h3 {
  color: #5d5d5d;
  margin: 0;
  padding: 30px 20px;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
}

.pane-problems-panel-pane-2 .views-field-description {
  clear: both;
}

.pane-problems-panel-pane-2 .views-row {
  margin-bottom: 50px;
}

.pane-problems-panel-pane-2 .views-row-1 h3 {
  color: #91C73E;
}

.pane-problems-panel-pane-2 .views-row-2 h3 {
  color: #8D519F;
}

.pane-problems-panel-pane-2 .views-row-3 h3 {
  color: #008ECE;
}

.pane-problems-panel-pane-2 .views-row-4 h3 {
  color: #ffcb50;
}

@media (min-width: 768px) {
  .pane-que-es-retopais-intro, .pane-que-es-retopais-footer {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .pane-que-es-retopais-intro, .pane-que-es-retopais-footer {
    width: 50%;
  }
}

.pane-que-es-retopais-proposals p {
  background-color: #ffcb50;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.pane-que-es-retopais-proposals p:before {
  content: '*';
}

@media (min-width: 768px) {
  .pane-que-es-retopais-proposals p {
    width: auto;
    display: inline-block;
    padding: 10px 0 10px 10px;
  }
  .pane-que-es-retopais-proposals p:after {
    content: '';
    position: relative;
    right: -30px;
    top: 32px;
    width: 0;
    height: 0;
    border-width: 42px 30px 0 0;
    border-style: solid;
    border-color: #ffcb50 transparent transparent transparent;
  }
}

.stages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stages-list li {
  position: relative;
  background-color: #353e42;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  text-indent: 0;
}

.stages-list li div {
  width: inherit;
}

.stages-list li:before {
  font-family: "Oswald", sans-serif;
  background-color: #4ba3bf;
  padding: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.stages-list li .stages-wrapper {
  margin-left: -30px;
}

.pane-que-es-retopais-cta {
  margin: 50px 0;
}

.pane-que-es-retopais-cta .button, .pane-que-es-retopais-cta .more-link a, .more-link .pane-que-es-retopais-cta a, .pane-que-es-retopais-cta
.more-help-link a,
.more-help-link .pane-que-es-retopais-cta a {
  position: relative;
}

.pane-que-es-retopais-cta .button:after, .pane-que-es-retopais-cta .more-link a:after, .more-link .pane-que-es-retopais-cta a:after, .pane-que-es-retopais-cta
.more-help-link a:after,
.more-help-link .pane-que-es-retopais-cta a:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  margin-left: 10px;
}

.view-alianzas .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-alianzas .views-row {
  margin: 0 20px 20px 0;
}

@media (min-width: 768px) {
  .view-alianzas .views-row {
    margin: 0 40px 40px 0;
  }
}

.pane-alianzas-panel-pane-3 {
  margin-bottom: 30px;
}

.media-kit-download img {
  width: 100%;
}

.pane-proposal-progress {
  background-color: #f0f7f7;
}

.proposal-progress-list {
  list-style-type: none;
  padding: 0 10px;
}

.proposal-progress-list-item {
  margin: 5px 0;
}

.proposal-progress-item-current {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  color: #e13e32;
  margin: 8px 0;
}

.form-actions {
  margin: 3rem 0;
}

.select-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  padding: 0;
  margin-bottom: 30px;
}

.select-buttons li {
  list-style-type: none;
}

.select-buttons li a {
  margin: 0 10px 20px 0;
  text-align: center;
  display: inline-block;
  width: 220px;
  height: 60px;
  color: #353e42;
  font-weight: 400;
  font-size: 13px;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 12px 30px 18px 30px;
  background-color: #f2f2f2;
  box-shadow: 0 3px 0 #5d5d5d;
}

.select-buttons li a:hover {
  text-decoration: none;
}

.select-buttons li a.picked {
  background-color: #dddddd;
}

.page-node-add-proposal .select-buttons li:first-child, .form-item-field-project-running-und .select-buttons li:first-child {
  display: none;
}

.page-node-add-proposal .form-item-field-problem-und ul li:nth-child(2) a {
  box-shadow: 0 3px 0 #8D519F;
}

.page-node-add-proposal .form-item-field-problem-und ul li:nth-child(3) a {
  box-shadow: 0 3px 0 #ffcb50;
}

.page-node-add-proposal .form-item-field-problem-und ul li:nth-child(4) a {
  box-shadow: 0 3px 0 #91C73E;
}

.page-node-add-proposal .form-item-field-problem-und ul li:nth-child(5) a {
  box-shadow: 0 3px 0 #008ECE;
}

.form-item-field-problem-und ul li:nth-child(1) a {
  box-shadow: 0 3px 0 #8D519F;
}

.form-item-field-problem-und ul li:nth-child(2) a {
  box-shadow: 0 3px 0 #ffcb50;
}

.form-item-field-problem-und ul li:nth-child(3) a {
  box-shadow: 0 3px 0 #91C73E;
}

.form-item-field-problem-und ul li:nth-child(4) a {
  box-shadow: 0 3px 0 #008ECE;
}

#edit-previous {
  padding: 0;
  border: 0;
  margin: 0 50px;
  color: #4ba3bf;
}

#edit-previous:hover {
  background-color: #fff;
  box-shadow: none;
  text-decoration: underline;
}

.field-name-field-project-links {
  display: block;
}

.field-name-field-project-links .draggable {
  background-color: #fff;
  border-bottom: none;
}

.field-name-field-project-links tbody {
  display: block;
  border-top: none;
  margin-top: 10px;
}

.field-name-field-project-links tbody a {
  display: none;
}

.field-name-field-project-links tbody td {
  display: inline-block;
  margin-bottom: 10px;
}

.field-name-field-project-links tbody td.field-multiple-drag {
  width: 0;
}

.field-name-field-project-links th {
  border: none;
}

.form-item {
  margin: 0 0 30px 0;
}

.pane-blog-recent-articles h2 {
  color: #e13e32;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 2rem;
}

.pane-blog-recent-articles h3 {
  font-size: 16px;
  font-size: 1.6rem;
}

.pane-blog-recent-articles .views-row {
  border-bottom: 1px solid #afafaf;
  padding: 15px 0;
}

.pane-blog-recent-articles .views-row:last-child {
  border-bottom: none;
}

.pane-blog-recent-articles .blog-item--title {
  margin: 0;
}

.pane-blog-recent-articles .blog-item--body p {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
}

.pane-blog-recent-articles.recent-articles-sidebar {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 30px;
}

.pane-blog-recent-articles.recent-articles-sidebar h2 {
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  font-size: 2.4rem;
}

.pane-problems-problems-only-names .cta-propone {
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 20px 30px 18px 30px;
  text-align: center;
  text-transform: uppercase;
  width: 244px;
}

.pane-problems-problems-only-names .cta-propone:after {
  content: "▶";
  margin-left: 30px;
  vertical-align: 2px;
  font-size: 13px;
  font-size: 1.3rem;
}

.pane-problems-problems-only-names .view-content {
  margin-top: 30px;
}

.pane-problems-problems-only-names .field-content {
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  height: 80px;
  font-family: "Oswald", sans-serif;
  padding: 0 78px 0 30px;
  text-align: center;
  width: 244px;
  font-size: 13px;
  font-size: 1.3rem;
}

.pane-problems-problems-only-names .icon-acceso-a-la-educacion-superior {
  background-image: url(../img/icons/icon-educacion.svg);
  color: #8D519F;
}

.pane-problems-problems-only-names .icon-accidentes-de-transito {
  background-image: url(../img/icons/icon-transito.svg);
  color: #ffcb50;
  padding: 18px 78px 0 30px;
}

.pane-problems-problems-only-names .icon-separacion-y-recoleccion-de-residuos {
  background-image: url(../img/icons/icon-residuos.svg);
  color: #91C73E;
}

.pane-problems-problems-only-names .icon-tasa-de-obesidad {
  background-image: url(../img/icons/icon-obesidad.svg);
  color: #008ECE;
  padding: 18px 78px 0 30px;
}

.pane-alianzas-panel-pane-4 {
  border-top: 2px solid #dddddd;
}

.pane-alianzas-panel-pane-4 h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
}

.pane-alianzas-panel-pane-4 .view-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pane-alianzas-panel-pane-4 .views-row {
  margin: 0 15px 30px 15px;
}

.pane-blog-categories-panel-pane-1 h2 {
  color: #e13e32;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.pane-blog-categories-panel-pane-1 ul {
  margin: 0;
  padding: 0;
}

.pane-blog-categories-panel-pane-1 li {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.pane-blog-categories-panel-pane-1 a {
  color: #5d5d5d;
}

.problematicas-cta-link {
  margin-top: 30px;
}

.problematicas-cta-link .button-yellow {
  text-transform: none;
  padding: 18px 30px;
}

.problematicas-cta-link .button-yellow:after {
  content: "▶";
  margin-left: 8px;
  font-size: 13px;
  font-size: 1.3rem;
}

.blog-list-page .blog-item--title {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

.blog-list-page .blog-item--title a {
  color: #5d5d5d;
  font-weight: 400;
  font-size: 20px;
  font-size: 2rem;
}

.blog-list-page .blog-item--body p {
  font-size: 14px;
  font-size: 1.4rem;
}

.blog-list-page .blog-item--link a {
  border: 2px solid #4ba3bf;
  border-radius: 3px;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
}

.blog-list-page .blog-item--link a:hover {
  background-color: #4ba3bf;
  color: #fff;
  text-decoration: none;
}

.blog-item--date {
  color: #afafaf;
  font-size: 12px;
  font-size: 1.2rem;
}

.blog-item--date.blog-full:after {
  content: "/";
  margin: 0 5px;
}

.blog-cta {
  margin-top: 30px;
}

.blog-cta .button-yellow {
  padding: 18px 30px;
  text-transform: none;
}

.blog-cta .button-yellow:after {
  content: "▶";
  margin-left: 8px;
  font-size: 13px;
  font-size: 1.3rem;
}

.pane-back-to-blog {
  margin-top: 20px;
  text-align: right;
}

.pane-back-to-blog a:after {
  content: " >";
}

.ckeditor-entity-embed--left {
  text-align: left;
}

.ckeditor-entity-embed--right {
  text-align: right;
}

.ckeditor-entity-embed--center {
  text-align: center;
}

.page-homepage main {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

.page-fullwidth-first-full, .page-fullwidth-third-full {
  width: 100%;
}

.page-fullwidth-second, .page-fullwidth-fourth, .que-es-reto-pais--container-inner, .pane-homepage-timeline {
  padding: 0 20px;
}

@media (min-width: 1240px) {
  .page-fullwidth-second, .page-fullwidth-fourth, .que-es-reto-pais--container-inner, .pane-homepage-timeline {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.page-fullwidth-first-full {
  display: inline-block;
  padding: 40px 0;
  background-color: #e13e32;
  color: #fff;
  background-image: url(../img/backgrounds/hp-top-bg.png);
  background-repeat: no-repeat;
  background-position: 35% 50%;
  min-height: 324px;
}

.page-fullwidth-first-full .homepage-highlighted {
  font-weight: bold;
}

.page-fullwidth-second {
  margin-bottom: 30px;
}

.page-fullwidth-third-full {
  background-color: #f2f2f2;
}

.que-es-reto-pais--title {
  color: white;
}

.que-es-reto-pais--title .homepage-highlighted {
  color: #ffcb50;
}

.que-es-reto-pais--left {
  display: block;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .que-es-reto-pais--left {
    display: inline-block;
    float: left;
    width: 50%;
    padding-right: 30px;
  }
}

.que-es-reto-pais--left p {
  margin: 30px 0;
}

.que-es-reto-pais--right {
  display: block;
}

@media (min-width: 768px) {
  .que-es-reto-pais--right {
    display: inline-block;
    float: left;
    width: 50%;
    padding-left: 30px;
  }
}

.que-es-reto-pais--link .button, .que-es-reto-pais--link .more-link a, .more-link .que-es-reto-pais--link a, .que-es-reto-pais--link
.more-help-link a,
.more-help-link .que-es-reto-pais--link a {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  border-color: #ffcb50;
}

.que-es-reto-pais--link .button:hover, .que-es-reto-pais--link .more-link a:hover, .more-link .que-es-reto-pais--link a:hover, .que-es-reto-pais--link
.more-help-link a:hover,
.more-help-link .que-es-reto-pais--link a:hover {
  box-shadow: 0 2px 0 #e5a72c;
  background-color: #ffcb50;
  text-decoration: none;
}

.que-es-reto-pais--image {
  width: 100%;
}

.pane-problems-panel-pane-3 {
  margin: 40px 0;
}

.pane-problems-panel-pane-3 .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pane-problems-panel-pane-3 .views-row {
  text-align: center;
  padding: 0 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

@media (min-width: 768px) {
  .pane-problems-panel-pane-3 .views-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (min-width: 1024px) {
  .pane-problems-panel-pane-3 .views-row {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}

.pane-problems-panel-pane-3 .views-field-name {
  font-size: 2.4rem;
  font-family: "Oswald", sans-serif;
  margin: 10px 0;
  min-height: 66px;
}

.pane-problems-panel-pane-3 .field-abstract {
  text-align: left;
}

.pane-problems-panel-pane-3 .views-row-1 .views-field-name {
  color: #91C73E;
}

.pane-problems-panel-pane-3 .views-row-2 .views-field-name {
  color: #8D519F;
}

.pane-problems-panel-pane-3 .views-row-3 .views-field-name {
  color: #008ECE;
}

.pane-problems-panel-pane-3 .views-row-4 .views-field-name {
  color: #ffcb50;
}

.pane-problems-panel-pane-3 h2 {
  text-align: center;
}

.pane-homepage-premios {
  margin: 80px 0;
  text-align: center;
  background-image: url(../img/backgrounds/hp-bg-premios.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.pane-homepage-premios h2 {
  font-weight: 400;
}

.pane-homepage-premios .button, .pane-homepage-premios .more-link a, .more-link .pane-homepage-premios a, .pane-homepage-premios
.more-help-link a,
.more-help-link .pane-homepage-premios a {
  position: relative;
}

.pane-homepage-premios .button:after, .pane-homepage-premios .more-link a:after, .more-link .pane-homepage-premios a:after, .pane-homepage-premios
.more-help-link a:after,
.more-help-link .pane-homepage-premios a:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #000;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  margin-left: 10px;
}

.pane-homepage-premios .button:hover:after, .pane-homepage-premios .more-link a:hover:after, .more-link .pane-homepage-premios a:hover:after, .pane-homepage-premios
.more-help-link a:hover:after,
.more-help-link .pane-homepage-premios a:hover:after {
  top: 52%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  margin-left: 10px;
}

.homepage-premios--description {
  margin: 30px 0;
}

.pane-homepage-participa {
  width: 100%;
  margin-bottom: 80px;
  background-image: url(../img/backgrounds/hp-bg-participa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pane-homepage-participa .pane-content {
  padding: 80px 0;
}

.homepage-participa-en-el-reto--left, .homepage-participa-en-el-reto--right {
  position: relative;
  display: inline-block;
}

.homepage-participa-en-el-reto--container-inner {
  position: relative;
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .homepage-participa-en-el-reto--container-inner {
    text-align: left;
    padding-bottom: 0;
  }
}

.homepage-participa-en-el-reto--left {
  text-align: left;
}

.homepage-participa-en-el-reto--right {
  width: 100%;
}

@media (min-width: 768px) {
  .homepage-participa-en-el-reto--right {
    width: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
  }
}

.homepage-participa-en-el-reto--right .button, .homepage-participa-en-el-reto--right .more-link a, .more-link .homepage-participa-en-el-reto--right a, .homepage-participa-en-el-reto--right
.more-help-link a,
.more-help-link .homepage-participa-en-el-reto--right a {
  position: relative;
}

.homepage-participa-en-el-reto--right .button:after, .homepage-participa-en-el-reto--right .more-link a:after, .more-link .homepage-participa-en-el-reto--right a:after, .homepage-participa-en-el-reto--right
.more-help-link a:after,
.more-help-link .homepage-participa-en-el-reto--right a:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  margin-left: 10px;
}

.homepage-participa-en-el-reto--list {
  list-style-type: none;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.homepage-participa-en-el-reto--list li {
  margin: 15px 0;
}

.homepage-participa-en-el-reto--list li:nth-child(3) .homepage-particpa-en-el-reto--list-number {
  padding: 4px 6px;
}

.homepage-particpa-en-el-reto--list-number {
  border-radius: 16px;
  padding: 4px 10px;
  background-color: #353e42;
}

.homepage-participa-en-el-reto--container {
  background-color: rgba(255, 255, 255, 0.4);
}
